body {
  background-color: white; }

.container {
  width: 100%;
  height: auto;
  position: relative;
  display: block; }

#welcomepage {
  align-content: center;
  text-align: center;
  height: 800px;
  position: relative; }
  #welcomepage img {
    position: absolute;
    top: 320px;
    right: 50%;
    width: 40%;
    height: auto;
    display: inline-table;
    margin-left: 50px; }
  #welcomepage #bio {
    margin-right: 200px;
    margin-left: 50px;
    position: relative;
    top: 320px;
    left: 50%;
    width: 500px;
    align-content: left;
    text-align: left; }
    #welcomepage #bio h1 {
      font-family: "Arima Madurai", cursive;
      color: #63C6E3;
      font-size: 40px;
      font-weight: bold; }
    #welcomepage #bio #icons {
      align-content: left;
      text-align: left;
      height: 55px; }
      #welcomepage #bio #icons img {
        width: 50px;
        height: 50px; }
      #welcomepage #bio #icons #emailicon {
        background-image: url("../images/email.png");
        left: 0px; }
      #welcomepage #bio #icons #blogicon {
        background-image: url("../images/blog.png");
        left: 65px; }
      #welcomepage #bio #icons #githubicon {
        background-image: url("../images/github.png");
        left: 130px; }

.iconbutton, #welcomepage #bio #icons #emailicon, #welcomepage #bio #icons #blogicon, #welcomepage #bio #icons #githubicon {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  background-size: contain; }

#portfolio {
  align-content: center;
  text-align: center;
  border-color: #63C6E3;
  border-style: solid;
  border-width: 10px;
  height: auto;
  padding-bottom: 50px; }
  #portfolio h1 {
    font-family: "Arima Madurai", cursive;
    color: #63C6E3;
    font-size: 50px;
    display: block; }
  #portfolio h3 {
    font-family: "Arima Madurai", cursive;
    color: #595959;
    font-size: 30px;
    display: block; }
  #portfolio .projects {
    align-content: center;
    text-align: center;
    position: relative;
    border-radius: 20px;
    border: 3px dashed #b3ecff;
    display: inline-table;
    width: 300px;
    height: 575px;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px; }
    #portfolio .projects img {
      width: 200px;
      height: 200px;
      border-radius: 10px; }
    #portfolio .projects h1 {
      font-family: "Arima Madurai", cursive;
      color: #63C6E3;
      font-size: 35px; }
    #portfolio .projects h2 {
      font-family: "Arima Madurai", cursive;
      color: #595959;
      font-size: 20px; }
    #portfolio .projects .learnmorebutton {
      position: absolute;
      bottom: 25px;
      left: 45px; }

a {
  text-decoration: none; }

.learnmore, #portfolio .projects .learnmorebutton {
  margin: auto;
  border: 1px solid #63C6E3;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  text-align: center; }
  .learnmore p, #portfolio .projects .learnmorebutton p {
    margin: 12px 60px 12px 60px;
    font-family: "Quicksand", sans-serif;
    color: #63C6E3;
    font-size: 16px; }

#bigcircle {
  width: 300px;
  height: 300px;
  border-radius: 100%; }

p {
  word-wrap: break-word;
  color: #595959;
  font-size: 18px;
  font-family: "Athiti", sans-serif; }

/*# sourceMappingURL=index.css.map */
