body {
  background-color: white; }

.container {
  width: 100%;
  height: auto;
  position: relative;
  display: block; }

#welcomepage {
  height: 750px;
  position: relative; }
  #welcomepage #logo {
    position: absolute;
    bottom: 20px;
    right: 10px;
    max-width: 80%;
    background-image: url("../images/cmdr2lines.png");
    opacity: 0.3;
    width: 600px;
    height: 235px;
    background-size: cover;
    display: inline-table;
    margin-right: 30px; }
  #welcomepage #bio {
    position: relative;
    top: 10%;
    left: 10%;
    width: 40%;
    max-width: 90%;
    display: block;
    align-content: left;
    text-align: left; }
    #welcomepage #bio h1 {
      font-family: "Arima Madurai", cursive;
      color: #63C6E3;
      font-size: 50px;
      font-weight: bold; }

.socialicon {
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-table;
  margin-right: 15px; }

#icons {
  background-color: red;
  height: 55px; }

#portfolio {
  align-content: center;
  text-align: center;
  border-color: #63C6E3;
  border-style: solid;
  border-width: 10px;
  height: auto;
  padding-bottom: 50px; }
  #portfolio .projects {
    align-content: center;
    text-align: center;
    position: relative;
    display: inline-table;
    width: 300px;
    height: 575px;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px; }
    #portfolio .projects img {
      width: 200px;
      height: 200px;
      border-radius: 10px; }
    #portfolio .projects h1 {
      font-family: "Arima Madurai", cursive;
      color: #63C6E3;
      font-size: 35px; }
    #portfolio .projects h2 {
      font-family: "Arima Madurai", cursive;
      color: #595959;
      font-size: 20px; }
    #portfolio .projects .learnmorebutton {
      position: absolute;
      bottom: 25px;
      left: 45px; }

pagetitle {
  font-family: "Arima Madurai", cursive;
  color: #63C6E3;
  font-size: 50px;
  display: block; }

pagesubtitle {
  padding-top: 40px;
  font-family: "Arima Madurai", cursive;
  color: #595959;
  font-size: 30px;
  display: block; }

a {
  text-decoration: none; }

.learnmore, #portfolio .projects .learnmorebutton {
  margin: auto;
  border: 1px solid #63C6E3;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  text-align: center; }
  .learnmore p, #portfolio .projects .learnmorebutton p {
    margin: 12px 60px 12px 60px;
    font-family: "Quicksand", sans-serif;
    color: #63C6E3;
    font-size: 16px; }

#skills {
  position: relative;
  align-content: center;
  text-align: center;
  background: #63C6E3;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #63C6E3, #b3ecff);
  /* For Safari */
  background: -o-linear-gradient(bottom right, #63C6E3, #b3ecff);
  /* For Opera */
  background: -moz-linear-gradient(bottom right, #63C6E3, #b3ecff);
  /* For Firefox */
  background: linear-gradient(to bottom right, #63C6E3, #b3ecff);
  /* Standard syntax */
  height: auto;
  min-height: 750px; }
  #skills .skill {
    position: relative;
    display: inline-table;
    width: 300px;
    height: 200px; }
  #skills #skillmenu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.5); }

#bigcircle {
  width: 300px;
  height: 300px;
  border-radius: 100%; }

p {
  word-wrap: break-word;
  color: #595959;
  font-size: 18px;
  font-family: "Athiti", sans-serif; }

/*# sourceMappingURL=index.css.map */
