// Mixins
@mixin setupfont($family, $size, $color){
  font-family: $family;
  color: $color;
  font-size: $size;
}

@mixin align($content, $text: center){
  align-content: $content;
  text-align: $text;
}


// Fonts
$athiti: 'Athiti', sans-serif;
$arimamadurai: 'Arima Madurai', cursive;
$quicksand: 'Quicksand', sans-serif;

// Dimensions
$divheight: 750px;
$divwidth: 100%;

$mainlogowidth: 35%;
$mainlogoheight: auto;
$mainlogominwidth: 200px;
$mainlogominheight: auto;


$biowidth: 500px;
$biopaddingleft: 50px;
$socialiconwidth: 50px;
$socialiconheight: 50px;
$intersocialicon: 15px;
$projectheight: 575px;
$projectwidth: 300px;
$learnmorewidth: 250px;
$projectpadding: 20px;


// Colors
$lightblue1: #b3ecff;
$lightblue2: #80dfff;
$blue: #63C6E3;
$darkblue1: #0086b3;
$darkblue2: #004d66;
$darkblue3: #002533;
$lightgrey: #e6e6e6;
$darkfont: #595959;

body {
  background-color: white;
}

.container {
    width: $divwidth;
    height: auto;
    position: relative;
    display: block;
}

#welcomepage {
  height: $divheight;
  position: relative;
  #logo {
    position: absolute;
    bottom: 20px;
    right: 10px;
    max-width: 80%;
    background-image: url("../images/cmdr2lines.png");
    opacity: 0.3;
    width: 600px;
    height: 235px;
    background-size: cover;
    display: inline-table;
    margin-right: 30px;
  }
  #bio {
    position: relative;
    top: 10%;
    left: 10%;
    width: 40%;
    max-width: 90%;
    display: inline-block;
    @include align(left, left);
    h1 {
      @include setupfont($arimamadurai, 50px, $blue);
      font-weight: bold;
    }
    #icons {
      @include align(left, left);
      img {
        width: $socialiconwidth;
        height: $socialiconheight;
      }
      height: $socialiconheight + 5px;
      #emailicon {
        background-image: url("../images/email.png");
        @extend .iconbutton;
        left: 0px;
      }
      #blogicon {
        background-image: url("../images/blog.png");
        @extend .iconbutton;
        left: $socialiconwidth + $intersocialicon;
      }
      #githubicon {
        background-image: url("../images/github.png");
        @extend .iconbutton;
        left: 2 * $socialiconwidth + 2 * $intersocialicon;
      }
    }
  }
}


.iconbutton {
  width: $socialiconwidth;
  height: $socialiconheight;
  position: absolute;
  bottom: 0px;
  background-size: contain;
}


#portfolio {
  @include align(center, center);
  border-color: $blue;
  border-style: solid;
  border-width: 10px;
  height: auto;
  padding-bottom: 50px;
  h1 {
    @include setupfont($arimamadurai, 50px, $blue);
    display: block;
  }
  h3 {
    @include setupfont($arimamadurai, 30px, $darkfont);
    display: block;
  }
  .projects {
    @include align(center, center);
    position: relative;
    border-radius: 20px;
    border: 3px dashed $lightblue1;
    display: inline-table;
    width: $projectwidth;
    height: $projectheight;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
    padding-top: 20px;
    padding-left: $projectpadding;
    padding-right: 20px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
    }
    h1 {
      @include setupfont($arimamadurai, 35px, $blue);
    }
    h2 {
      @include setupfont($arimamadurai, 20px, $darkfont);
    }
    .learnmorebutton{
      @extend .learnmore;
      position: absolute;
      bottom: 25px;
      left: $projectpadding + 0.5 * ($projectwidth - $learnmorewidth);
    }
  }
}

a {
  text-decoration: none;
}

.learnmore {
  margin: auto;
  border: 1px solid $blue;
  width: $learnmorewidth;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  p {
    margin: 12px 60px 12px 60px;
    @include setupfont($quicksand, 16px, $blue);
  }
}


#skills {

}

#bigcircle {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

p {
  word-wrap: break-word;
  color: $darkfont;
  font-size: 18px;
  font-family: $athiti;
}
