// Mixins
@mixin setupfont($family, $size, $color){
  font-family: $family;
  color: $color;
  font-size: $size;
}

@mixin align($content, $text: center){
  align-content: $content;
  text-align: $text;
}

@mixin gradient_background($color1,$color2) {
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $color1, $color2); /* For Safari */
  background: -o-linear-gradient(bottom right, $color1, $color2); /* For Opera */
  background: -moz-linear-gradient(bottom right, $color1, $color2); /* For Firefox */
  background: linear-gradient(to bottom right, $color1, $color2); /* Standard syntax */
}

@mixin shadow_around_div($blurradius, $color){
  -moz-box-shadow: 0 0 $blurradius $color;
  -webkit-box-shadow: 0 0 $blurradius $color;
  box-shadow: 0 0 $blurradius $color;
}


// Fonts
$athiti: 'Athiti', sans-serif;
$arimamadurai: 'Arima Madurai', cursive;
$quicksand: 'Quicksand', sans-serif;

// Dimensions
$divheight: 750px;
$divwidth: 100%;

$mainlogowidth: 35%;
$mainlogoheight: auto;
$mainlogominwidth: 200px;
$mainlogominheight: auto;


$biowidth: 500px;
$biopaddingleft: 50px;
$socialiconwidth: 50px;
$socialiconheight: 50px;
$intersocialicon: 15px;
$projectheight: 575px;
$projectwidth: 300px;
$learnmorewidth: 250px;
$projectpadding: 20px;


// Colors
$lightblue1: #b3ecff;
$lightblue2: #80dfff;
$blue: #63C6E3;
$darkblue1: #0086b3;
$darkblue2: #004d66;
$darkblue3: #002533;
$lightgrey: #e6e6e6;
$darkfont: #595959;
$bodycolor: #1a1a1a;

body {
  background-color: $bodycolor;
  margin: 0px;
}

.container {
    background-color: white;
    width: $divwidth;
    height: auto;
    position: relative;
    display: block;
}

#welcomepage {
  height: $divheight;
  position: relative;
  #logo {
    position: absolute;
    bottom: 20px;
    right: 10px;
    max-width: 80%;
    background-image: url("../images/cmdr2lines.png");
    opacity: 0.3;
    width: 600px;
    height: 235px;
    background-size: cover;
    display: inline-table;
    margin-right: 30px;
  }
  #bio {
    position: relative;
    top: 20%;
    left: 10%;
    width: 40%;
    max-width: 90%;
    display: block;
    @include align(left, left);
    h1 {
      @include setupfont($arimamadurai, 50px, $blue);
      font-weight: bold;
    }
  }
}

.socialicon {
  background-size: cover;
  width: $socialiconwidth;
  height: $socialiconheight;
  display: inline-table;
  margin-top: 20px;
  margin-right: $intersocialicon;
}

#portfolio {
  @include align(center, center);
  border-color: $blue;
  border-style: solid;
  border-width: 10px;
  height: auto;
  padding-bottom: 50px;
  .projects {
    @include align(center, center);
    position: relative;
    border-radius: 20px;
    @include shadow_around_div(3px, #ccc);
    // border: 3px dashed $lightblue1;
    display: inline-table;
    width: $projectwidth;
    height: $projectheight;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
    padding-top: 20px;
    padding-left: $projectpadding;
    padding-right: 20px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
    }
    h1 {
      @include setupfont($arimamadurai, 35px, $blue);
    }
    h2 {
      @include setupfont($arimamadurai, 20px, $darkfont);
    }
    .learnmorebutton{
      @extend .learnmore;
      position: absolute;
      bottom: 25px;
      left: $projectpadding + 0.5 * ($projectwidth - $learnmorewidth);
    }
  }
}

pagetitle {
  @include setupfont($arimamadurai, 50px, $blue);
  display: block;
}

pagesubtitle {
  padding-top: 40px;
  @include setupfont($arimamadurai, 30px, $darkfont);
  display: block;
}

a {
  text-decoration: none;
}

.learnmore {
  margin: auto;
  border: 1px solid $blue;
  width: $learnmorewidth;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  p {
    margin: 12px 60px 12px 60px;
    @include setupfont($quicksand, 16px, $blue);
  }
}


#skills {
  position: relative;
  @include align(center, center);
  @include gradient_background($blue, $lightblue1);
  height: auto;
  min-height: $divheight;
}

.bigcircle {
    @include align(center, center);
    margin: 40px;
    padding: 30px;
    background-color: white;
    @include shadow_around_div(10px, #8c8c8c);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: inline-table;
    h1 {
      margin-top: 50px;
      @include setupfont($arimamadurai, 25px, $blue);
    }
    p {
      @extend p;
      font-size: 24px;
      line-height: 0.8;
    }
}

p {
  word-wrap: break-word;
  color: $darkfont;
  font-size: 18px;
  font-family: $athiti;
}

#topmenu {
  z-index: 3;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75px;
  background-color: $bodycolor;
}

#footer {
  padding: 5px;
  bottom: 0px;
  width: 100%;
  height: 75px;
  background-color: $bodycolor;
  @include align(center, center);
  p {
    @include setupfont($athiti, 20px, white);
  }
}
