// Media Break size
$break-small: 480px;

// Mixins
@mixin setupfont($family, $size, $color){
  font-family: $family;
  color: $color;
  font-size: $size;
}

@mixin align($content, $text: center){
  align-content: $content;
  text-align: $text;
}

@mixin gradient_background($color1,$color2) {
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $color1, $color2); /* For Safari */
  background: -o-linear-gradient(bottom right, $color1, $color2); /* For Opera */
  background: -moz-linear-gradient(bottom right, $color1, $color2); /* For Firefox */
  background: linear-gradient(to bottom right, $color1, $color2); /* Standard syntax */
}

@mixin shadow_around_div($blurradius, $color){
  -moz-box-shadow: 0 0 $blurradius $color;
  -webkit-box-shadow: 0 0 $blurradius $color;
  box-shadow: 0 0 $blurradius $color;
}


// Fonts
$athiti: 'Athiti', sans-serif;
$arimamadurai: 'Arima Madurai', cursive;
$quicksand: 'Quicksand', sans-serif;

// Dimensions
$divheight: 750px;
$divwidth: 100%;
$divheightm: auto;

$mainlogoheight: auto;

$biowidth: 500px;
$biopaddingleft: 50px;
$socialiconwidth: 50px;
$socialiconheight: 50px;
$intersocialicon: 30px;
$projectheight: 575px;
$projectwidth: 300px;
$learnmorewidth: 250px;
$projectpadding: 20px;

$menuheight: 75px;
$footerheight: 75px;
$footerheightmobile: 100px;


// Colors
$lightblue1: #b3ecff;
$lightblue2: #80dfff;
$blue: #63C6E3;
$darkblue1: #0086b3;
$darkblue2: #004d66;
$darkblue3: #002533;
$lightgrey: #e6e6e6;
$darkfont: #595959;
$bodycolor: #1a1a1a;

body {
  background-color: $bodycolor;
  margin: 0px;
}

.container {
    background-color: white;
    width: $divwidth;
    height: auto;
    position: relative;
    display: block;
}

#welcomepage {
  margin: 0px auto;
  position: relative;
  @media screen and (min-device-width: $break-small + 1px) {
    height: $divheight;
  }
  @media screen and (max-device-width: $break-small) {
    height: $divheight * 1.75;
    @include align(center, center);
  }

  #logo {
    background-image: url("../images/cmdr2lines.png");
    background-size: cover;
    position: absolute;
    @media screen and (min-device-width: $break-small + 1px) {
      bottom: 20px;
      right: 40px;
      max-width: 80%;
      opacity: 0.3;
      width: 600px;
      height: 235px;
      display: inline-block;
    }
    @media screen and (max-device-width: $break-small){
      opacity: 0;
      left: 0px;
      right: 0px;
      top: 20px;
      width: 90%;
      height: 27%;
      max-height: 200px;
      display: block;
      margin-right: 0px;
      margin: 0px auto;
    }
  }
  #bio {
    position: relative;
    display: block;
    @media screen and (min-device-width: $break-small + 1px) {
      top: 20%;
      left: 10%;
      width: 40%;
      height: auto;
      max-width: 90%;
      @include align(left, left);
      h1 {
        @include setupfont($arimamadurai, 50px, $blue);
        font-weight: bold;
      }
    }

    @media screen and (max-device-width: $break-small) {
      @include align(center, center);
      top: 225px;
      width: 90%;
      margin: 5% auto;
      height: auto;
      min-height: 600px;
      h1 {
        @include setupfont($arimamadurai, 100px, $blue);
      }
    }
  }
}

.socialicon {
  background-size: cover;
  width: $socialiconwidth;
  height: $socialiconheight;
  display: inline-block;
  margin-top: 20px;
  margin-right: $intersocialicon;
  @media screen and (max-device-width: $break-small) {
    width: $socialiconwidth * 2;
    height: $socialiconheight * 2;
  }
}




#portfolio {
  @include align(center, center);
  border-color: $blue;
  border-style: solid;
  border-width: 10px;
  height: auto;
  padding-bottom: 30px;
  .projects {
    @media screen and (min-device-width: $break-small + 1px) {
      width: $projectwidth;
      height: $projectheight;
      margin-left: 35px;
      margin-right: 35px;
      h1 {
        @include setupfont($arimamadurai, 35px, $blue);
      }
      h2 {
        @include setupfont($arimamadurai, 20px, $darkfont);
      }
      img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
      }
    }
    @media screen and (max-device-width: $break-small) {
      width: 80%;
      height: auto;
      padding-bottom: 30px;
      h1 {
        @include setupfont($arimamadurai, 70px, $blue);
      }
      h2 {
        @include setupfont($arimamadurai, 40px, $darkfont);
      }
      img {
        width: 350px;
        height: 350px;
        border-radius: 20px;
      }
    }
    @include align(center, center);
    position: relative;
    border-radius: 20px;
    @include shadow_around_div(3px, #ccc);
    display: inline-table;
    margin-top: 20px;
    background-color: white;
    padding-top: 20px;
    padding-left: $projectpadding;
    padding-right: 20px;
    .learnmorebutton{
      @extend .learnmore;
      position: relative;
      margin: 30px auto;
    }
  }
}

pagetitle {
  @include setupfont($arimamadurai, 50px, $blue);
  display: block;
}

pagesubtitle {
  padding-top: 40px;
  @include setupfont($arimamadurai, 30px, $darkfont);
  display: block;
  @media screen and (max-device-width: $break-small) {
    font-size: 60px;
  }
}

a {
  text-decoration: none;
}

.learnmore {
  margin: auto;
  border: 1px solid $blue;
  width: $learnmorewidth;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  p {
    margin: 12px 60px 12px 60px;
    @include setupfont($quicksand, 16px, $blue);
  }
  @media screen and (max-device-width: $break-small) {
    height: 80px;
    width: $learnmorewidth * 2;
    border-radius: 20px;
    p {
      font-size: 32px;
    }
  }
}


#skills {
  position: relative;
  @include align(center, center);
  @include gradient_background($blue, $lightblue1);
  height: auto;
  min-height: $divheight;
}

.bigcircle {
    @include align(center, center);
    margin: 40px;
    padding: 25px;
    background-color: white;
    @include shadow_around_div(10px, #8c8c8c);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: inline-table;
    h1 {
      margin-top: 50px;
      @include setupfont($arimamadurai, 25px, $blue);
    }
    p {
      @extend p;
      font-size: 24px;
      line-height: 0.8;
    }
    @media screen and (max-device-width: $break-small) {
      width: 460px;
      height: 460px;
      h1 {
        margin-top: 60px;
        font-size: 40px;
      }
    }
}

p {
  word-wrap: break-word;
  color: $darkfont;
  font-size: 18px;
  font-family: $athiti;
  @media screen and (max-device-width: $break-small) {
    font-size: 36px;
  }
}

#topmenu {
  z-index: 3;
  position: fixed;
  top: 0px;
  width: 100%;
  height: $menuheight;
  background-color: $bodycolor;
  @media screen and (max-device-width: $break-small) {
    height: $menuheight * 2;
  }
}

menulogo {
  background-image: url('../images/menuicon.png');
  background-size: cover;
  height: 0px;
  width: 0px;
  vertical-align: middle;
  @include setupfont($quicksand, 20px, white);
  margin-left: 0px;
  display: inline-block;
  @media screen and (max-device-width: $break-small) {
    height: $menuheight * 2;
    width: $menuheight * 2;
    margin-left: 20px;
  }
}


#footer {
  padding: 5px;
  bottom: 0px;
  width: 100%;
  @media screen and (min-device-width: $break-small + 1) {
      height: $footerheight;
  }
  @media screen and (max-device-width: $break-small) {
      height: $footerheightmobile;
  }
  background-color: $bodycolor;
  @include align(center, center);
  p {
    @include setupfont($athiti, 20px, white);
  }
}

#logolink {
    vertical-align: middle;
    background-image: url('../images/cmdrwhite.png');
    width: $menuheight;
    height: $menuheight;
    background-size: cover;
    margin-left: 30px;
    margin-right: 50px;
    display: inline-block;
    @media screen and (max-device-width: $break-small) {
      height: 0px;
      width: 0px;
      margin: 0px;
    }
}

#sidemenu {
  background-color: $bodycolor;
  z-index: 4;
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
}

menuitem {
    vertical-align: middle;
    @include setupfont($quicksand, 20px, white);
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    line-height: 75px;
    opacity: 0.5;
    @media screen and (max-device-width: $break-small) {
      font-size: 40px;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
    }
}

#exitmenu {
  background-image: url("../images/exit.png");
  background-size: cover;
  height: 60px;
  width: 60px;
  display: block;
}
