// Mixins
@mixin setupfont($family, $size, $color){
  font-family: $family;
  color: $color;
  font-size: $size;
}

@mixin align($content, $text: center){
  align-content: $content;
  text-align: $text;
}


// Fonts
$athiti: 'Athiti', sans-serif;
$arimamadurai: 'Arima Madurai', cursive;
$quicksand: 'Quicksand', sans-serif;

// Dimensions
$divheight: 800px;
$divwidth: 100%;
$mainlogoheight: 235px;
$mainlogowidth: 600px;
$welcomepagetop: 0.5 * ($divheight - $mainlogoheight);
$containerpadding: 20px;
$projectheight: 575px;
$projectwidth: 300px;
$learnmorewidth: 250px;
$projectpadding: 20px;

// Colors
$lightblue1: #b3ecff;
$lightblue2: #80dfff;
$blue: #63C6E3;
$darkblue1: #0086b3;
$darkblue2: #004d66;
$darkblue3: #002533;
$lightgrey: #e6e6e6;
$darkfont: #595959;

body {
  background-color: white;
}

.container {
    width: $divwidth;
    height: $divheight;
    position: relative;
}

#mainlogo {
  position: absolute;
  top: $welcomepagetop;
  right: 50%;
  display: inline-block;
  img {
    width: $mainlogowidth;
    height: $mainlogoheight;
  }
}

#bio {
  width: $divwidth/3;
  position: absolute;
  left: 50%;
  top: $welcomepagetop;
  display: inline-block;
  padding-left: 50px;
  .icon {
    display: inline-block;
    img {
      margin-left: 15px;
      width: 50px;
      height: 50px;
    }
  }
}

#portfolio {
  @include align(center, center);
  border-color: $blue;
  border-style: solid;
  border-width: 10px;
  height: auto;
  padding-bottom: 50px;
  h1 {
    @include setupfont($arimamadurai, 50px, $blue);
    display: block;
  }
  h3 {
    @include setupfont($arimamadurai, 30px, $darkfont);
    display: block;
  }
  .projects {
    @include align(center, center);
    position: relative;
    border-radius: 20px;
    border: 3px dashed $lightblue1;
    display: inline-table;
    width: $projectwidth;
    height: $projectheight;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
    padding-top: 20px;
    padding-left: $projectpadding;
    padding-right: 20px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
    }
    h1 {
      @include setupfont($arimamadurai, 35px, $blue);
    }
    h2 {
      @include setupfont($arimamadurai, 20px, $darkfont);
    }
    .learnmorebutton{
      @extend .learnmore;
      position: absolute;
      bottom: 25px;
      left: $projectpadding + 0.5 * ($projectwidth - $learnmorewidth);
    }
  }
}

a {
  text-decoration: none;
}

.learnmore {
  margin: auto;
  border: 1px solid $blue;
  width: $learnmorewidth;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  p {
    margin: 12px 60px 12px 60px;
    @include setupfont($quicksand, 16px, $blue);
  }
}


#skills {

}

#bigcircle {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

p {
  word-wrap: break-word;
  color: $darkfont;
  font-size: 18px;
  font-family: $athiti;
}

bio-h1 {
  margin: $containerpadding $containerpadding $containerpadding $containerpadding;
  font-weight: bold;
  color: $blue;
  font-size: 40px;
  font-family: $arimamadurai;
}
