// Media Break size
$break-small: 480px;

//Mixins
@mixin setupfont($family, $size, $color){
  font-family: $family;
  color: $color;
  font-size: $size;
}

@mixin align($content, $text: center){
  align-content: $content;
  text-align: $text;
}

@mixin gradient_background($color1,$color2) {
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $color1, $color2); /* For Safari */
  background: -o-linear-gradient(bottom right, $color1, $color2); /* For Opera */
  background: -moz-linear-gradient(bottom right, $color1, $color2); /* For Firefox */
  background: linear-gradient(to bottom right, $color1, $color2); /* Standard syntax */
}

@mixin shadow_around_div($blurradius, $color){
  -moz-box-shadow: 0 0 $blurradius $color;
  -webkit-box-shadow: 0 0 $blurradius $color;
  box-shadow: 0 0 $blurradius $color;
}

//Fonts
$athiti: 'Athiti', sans-serif;
$arimamadurai: 'Arima Madurai', cursive;
$quicksand: 'Quicksand', sans-serif;

//Dimensions
$imageheight: 350px;
$imagewidth: 350px;
$containerpadding: 20px;
$columnpadding: 20px;
$columnwidth: 430px;
$learnmorewidth: 350px;
$menuheight: 75px;
$footerheight: 75px;
$footerheightmobile: 100px;

//Colors
$lightblue1: #b3ecff;
$lightblue2: #80dfff;
$blue: #63C6E3;
$darkblue1: #0086b3;
$darkblue2: #004d66;
$darkblue3: #002533;
$lightgrey: #e6e6e6;
$darkfont: #595959;
$bodycolor: #1a1a1a;



body {
  background-color: $bodycolor;
  margin: 0px;
  background-image: url(../images/pattern.png);
  background-repeat: repeat-y;
}

#bodywrapper {
  margin: 0px;
  position: relative;
  padding-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
  @include align(center, center);
  @media screen and (max-device-width: $break-small) {
    padding-top: 50px + 2 * $menuheight;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.container {
  padding-bottom: 100px;
  margin-bottom: 60px;
  @include align(center, center);
  height: auto;
  min-width: $columnwidth + 2 * $containerpadding;
  position: relative;
  @include shadow_around_div(10px, $darkfont);
  border-radius: 30px;
  background-color: white;
  word-wrap: break-word;
  .column {
    position: relative;
    margin: 0px auto;
    @include align(center, left);
    padding: $columnpadding;
    width: $columnwidth;
    display: inline-table;
    min-width: 300px;
    height: auto;
    vertical-align: top;
    .linkbutton {
      @extend .link;
      position: relative;
      margin: 10px auto;
    }
    @media screen and (max-device-width: $break-small) {
      @include align(center, center);
      padding-left: 5px;
      padding-right: 5px;
      width: 90%;
    }
  }
}

img {
  border-radius: 10px;
  width: $imagewidth;
  height: $imageheight;
  display: inline-flex;
}

h1 {
  @include setupfont($arimamadurai, 72px, white);
  padding-bottom: 30px;
  display: block;
  text-align: right;
  @media screen and (max-device-width: $break-small) {
    font-size: 144px;
    text-align: center;
  }
}

h2 {
  @include setupfont($arimamadurai, 50px, $blue);
  line-height: 0.8;
  @media screen and (max-device-width: $break-small) {
    font-size: 80px;
  }
}

h3 {
  @include setupfont($arimamadurai, 30px, $darkfont);
  line-height: 1;
  margin-bottom: 50px;
  @media screen and (max-device-width: $break-small) {
    font-size: 50px;
  }
}

h4 {
  @include setupfont($athiti, 22px, $blue);
  font-weight: normal;
  line-height: 0.8;
  @media screen and (max-device-width: $break-small) {
    font-size: 44px;
  }
}

p {
  @include setupfont($athiti, 20px, $darkfont);
  margin-bottom: 10px;
  @media screen and (max-device-width: $break-small) {
    font-size: 40px;
  }
}

a {
  text-decoration: none;
}

.link {
  margin: auto;
  margin-top: 30px;
  border: 1px solid $blue;
  width: $learnmorewidth;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  p {
    margin: 12px 60px 12px 60px;
    @include setupfont($quicksand, 16px, $blue);
  }
  @media screen and (max-device-width: $break-small) {
    height: 80px;
    width: $learnmorewidth * 2;
    border-radius: 20px;
    p {
      font-size: 32px;
    }
  }
}

span {
  @include setupfont($athiti, 22px, $blue);
  font-weight: normal;
  line-height: 0.8;
  @media screen and (max-device-width: $break-small) {
    font-size: 44px;
  }
}

#topmenu {
  z-index: 3;
  position: fixed;
  top: 0px;
  width: 100%;
  height: $menuheight;
  background-color: $bodycolor;
  @media screen and (max-device-width: $break-small) {
    height: $menuheight * 2;
  }
}

menulogo {
  background-image: url('../images/menu.png');
  background-size: cover;
  height: 0px;
  width: 0px;
  vertical-align: middle;
  @include setupfont($quicksand, 20px, white);
  margin-left: 0px;
  display: inline-block;
  @media screen and (max-device-width: $break-small) {
    height: $menuheight * 2;
    width: $menuheight * 2;
    margin-left: 20px;
  }
}

#footer {
  padding: 5px;
  bottom: 0px;
  width: 100%;
  @media screen and (min-device-width: $break-small + 1) {
      height: $footerheight;
  }
  @media screen and (max-device-width: $break-small) {
      height: $footerheightmobile;
  }
  background-color: $bodycolor;
  @include align(center, center);
  p {
    @include setupfont($athiti, 20px, white);
  }
}


#logolink {
    vertical-align: middle;
    background-image: url('../images/cmdrwhite.png');
    width: $menuheight;
    height: $menuheight;
    background-size: cover;
    margin-left: 30px;
    margin-right: 50px;
    display: inline-block;
    @media screen and (max-device-width: $break-small) {
      height: 0px;
      width: 0px;
      margin: 0px;
    }
}

#dropdownmenu {
  background-color: $bodycolor;
  z-index: 4;
  width: 100%;
  height: 580px;
  display: none;
}

menuitem {
  vertical-align: middle;
  @include setupfont($quicksand, 20px, white);
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  line-height: $menuheight;
  opacity: 0.5;
  @media screen and (max-device-width: $break-small) {
    display: none;
  }
}

#dropdownitemcontainer {
  position: absolute;
  top: $menuheight * 2;
  width: 100%;
  height: 580px + 2 * $menuheight;
}

dropdownmenuitem {
  vertical-align: middle;
  display: block;
  margin: 50px;
  @include setupfont($quicksand, 40px, white);
}
