!DOCTYPE HTML>
<html>
  <head>

    <!-- Load Favicon -->
    <link rel="icon" type="image/png" href="images/favicon32.png" sizes="32x32" />

    <!-- Load Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Athiti|Quicksand" rel="stylesheet"/>

    <!-- Load CSS -->
    <link type="text/css" rel="stylesheet" href="css/bio.css"/>

    <!-- Load AngularJS & script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/indexcontroller.js"></script>

    <!-- Load jQuery Script file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/biojquery.js"></script>

  <title>cmd + R to Refresh</title>
  </head>

  <body ng-app="indexApp" ng-controller="indexController">

    <div id="topmenu">
      <a href="http://cmdrtorefresh.comxa.com"><div id="logolink"></div></a>
      <menulogo></menulogo>
      <a ng-repeat="page in pages" href="{{ page.link }}"><menuitem>{{ page.title }}</menuitem></a>
    </div>

    <div id="dropdownmenu">
      <div id="dropdownitemcontainer">
        <a ng-repeat="page in pages" href="{{ page.link }}"><dropdownmenuitem>{{ page.title }}</dropdownmenuitem></a>
      </div>
    </div>

    <div class="container">
      <div id="picture"></div>
      <div id="description">
        <h1>My Story</h1>
        <p>My first computing language was Python. When I built my first project from scratch, the game Battleship, my affair with software development started. Since then, I self-taught myself a few more languages and built more personal projects, fueled by a definite "I can totally do this" and a combination of "It'd be fun to..." and "There's gotta be a better way to do this!". I realize software engineering grants great power to willing individuals, providing bridges to awesome things. After a lot of considerations, I left my previous company to rise to a new challenge.</p>
        <p>I have always enjoyed the thrill of finding solutions. Having graduated from University of Wisconsin with Bachelor or Science degree in Chemical Engineering, I designed seawater desalination systems for projects in fresh-water scarce places around the world in my previous career. I was puzzles solving, an industrial-scale one. When I wasn't involved in desalination projects, I helped companies reuse the water content in their waste water.</p>
        <p>I like being closer to the user. I guess the experience of listening to customers' needs makes me pay attention to how a user interract with something I built. Naturally, I got attracted to web and mobile development due to the amount of direct contact with users they include.</p>
        <p>I am happy with what I have learned so far. No doubt that there's an ocean of fast-changing knowledge in front of me and I'm excited of my potential. I know I can create more, bigger, and more useful things with experience. I believe everybody can when they want and act upon their curiosity of "how to".</p>
        <p>When I'm not in front of my computer, I keep myself active by practicing yoga and dancing tango.</p>
        <p>Last but not least, "Face Everything and Rise". </p>
        <div id="resume">
          <h1>Resume</h1>
          <a href="pdf/resumejul2016np.pdf" download="pdf/resumejul2016np.pdf"><resumelink>Download my resume here.</resumelink></a>
        </div>
      </div>
    </div>


    <div id="footer"><p>Copyright © 2016 Stephanie Kirtiadi. All Rights Reserved.</p></div>
  </body>
</html>
