<!DOCTYPE HTML>
<html>
  <head>

    <!-- Load Favicon -->
    <link rel="icon" type="image/png" href="images/favicon32.png" sizes="32x32" />

    <!-- Load Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Athiti|Quicksand" rel="stylesheet">

    <!-- Load CSS -->
    <link type="text/css" rel="stylesheet" href="css/portfolio.css"/>

    <!-- Load AngularJS & script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/portfoliocontroller.js"></script>

    <!-- Load jQuery Script file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/menujquery.js"></script>

  <title>cmd + R to Refresh - Portfolio</title>
  </head>

  <body ng-app="portfolioApp" ng-controller="portfolioController">

    <div id="topmenu">
      <a href="http://cmdrtorefresh.comxa.com"><div id="logolink"></div></a>
      <menulogo></menulogo>
      <a ng-repeat="page in pages" href="{{ page.link }}"><menuitem>{{ page.title }}</menuitem></a>
    </div>

    <div id="dropdownmenu">
      <div id="dropdownitemcontainer">
        <a ng-repeat="page in pages" href="{{ page.link }}"><dropdownmenuitem>{{ page.title }}</dropdownmenuitem></a>
      </div>
    </div>

    <div id="bodywrapper">

      <h1>Portfolio</h1>

      <div class="container" ng-repeat="project in projects">
        <div id="{{ project.id }}">
          <div class="column">
            <img ng-src="{{ project.image }}"/>
            <h2>{{ project.title }}</h2>
            <h3>{{ project.tagline }}</h3>
            <p><span>What kind of project is this?</span> {{ project.type }}</p>
            <p><span>What was it written in?</span> {{ project.tool }}</p>
          </div>

          <div class="column">
            <h4>So, what's the story?</h4>
            <p>{{ project.purpose }}</p>
            <a target="_blank" ng-href="{{ project.link }}"><div class="linkbutton"><p>GO TO PROJECT</p></div></a>
          </div>
        </div>
      </div>

    </div>

    <div id="footer"><p>Copyright © 2016 Stephanie Kirtiadi. All Rights Reserved.</p></div>

  </body>
<html>
